<div class="search">
    <input type="text" id="searchInput" placeholder="Search...">
    <ul id="searchResults"></ul>
  </div>
  
  <script>
    var posts = [
      {% for post in site.posts %}
        {
          "title": "{{ post.title }}",
          "url": "{{ post.url }}"
        },
      {% endfor %}
    ];
  
    document.getElementById('searchInput').addEventListener('input', function() {
      var searchTerm = this.value.trim().toLowerCase();
      var searchResults = document.getElementById('searchResults');
      searchResults.innerHTML = '';
  
      if (searchTerm.length > 0) {
        var results = posts.filter(function(post) {
          return post.title.toLowerCase().includes(searchTerm);
        });
  
        results.forEach(function(result) {
          var listItem = document.createElement('li');
          var link = document.createElement('a');
          link.href = result.url;
          link.textContent = result.title;
          listItem.appendChild(link);
          searchResults.appendChild(listItem);
        });
      }
    });
  </script>
  